USE [master]
GO
/****** Object:  Database [TraSua]    Script Date: 28-Nov-19 6:25:51 PM ******/
CREATE DATABASE [TraSua]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TraSua', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TraSua.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TraSua_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TraSua_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TraSua].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TraSua]
GO
/****** Object:  Table [dbo].[CTORDER]    Script Date: 28-Nov-19 6:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTORDER](
	[MACTORDER] [nchar](10) NOT NULL,
	[MATHUCUONG] [nchar](10) NOT NULL,
	[MATOPPING] [nchar](10) NOT NULL,
	[DUONG] [int] NOT NULL,
	[DA] [int] NOT NULL,
	[MAORDER] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ChiTietOrder] PRIMARY KEY CLUSTERED 
(
	[MACTORDER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 28-Nov-19 6:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [nchar](10) NOT NULL,
	[TENKM] [nchar](10) NOT NULL,
	[TGBD] [time](7) NOT NULL,
	[TGKT] [time](7) NOT NULL,
	[MATHUCUONG] [nchar](10) NOT NULL,
	[MUCGIAMGIA] [int] NOT NULL,
	[LOAIGIAMGIA] [nchar](10) NOT NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 28-Nov-19 6:25:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
	[CHUCVU] [nvarchar](50) NOT NULL,
	[TENDN] [nchar](10) NOT NULL,
	[MATKHAU] [nchar](10) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 28-Nov-19 6:25:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[MAORDER] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[TENKH] [nchar](10) NOT NULL,
	[THOIGIAN] [time](7) NOT NULL,
	[TONGTIEN] [int] NOT NULL,
	[MAKM] [nchar](10) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[MAORDER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUCUONG]    Script Date: 28-Nov-19 6:25:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUCUONG](
	[MATHUCUONG] [nchar](10) NOT NULL,
	[TENTHUCUONG] [nvarchar](50) NOT NULL,
	[GIATHUCUONG] [int] NOT NULL,
 CONSTRAINT [PK_ThucUong] PRIMARY KEY CLUSTERED 
(
	[MATHUCUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOPPING]    Script Date: 28-Nov-19 6:25:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOPPING](
	[MATOPPING] [nchar](10) NOT NULL,
	[TENTOPPING] [nvarchar](50) NOT NULL,
	[GIATOPPING] [float] NOT NULL,
 CONSTRAINT [PK_Topping] PRIMARY KEY CLUSTERED 
(
	[MATOPPING] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTORDER]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietOrder_Order] FOREIGN KEY([MAORDER])
REFERENCES [dbo].[ORDER] ([MAORDER])
GO
ALTER TABLE [dbo].[CTORDER] CHECK CONSTRAINT [FK_ChiTietOrder_Order]
GO
ALTER TABLE [dbo].[CTORDER]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietOrder_ThucUong] FOREIGN KEY([MATHUCUONG])
REFERENCES [dbo].[THUCUONG] ([MATHUCUONG])
GO
ALTER TABLE [dbo].[CTORDER] CHECK CONSTRAINT [FK_ChiTietOrder_ThucUong]
GO
ALTER TABLE [dbo].[CTORDER]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietOrder_Topping] FOREIGN KEY([MATOPPING])
REFERENCES [dbo].[TOPPING] ([MATOPPING])
GO
ALTER TABLE [dbo].[CTORDER] CHECK CONSTRAINT [FK_ChiTietOrder_Topping]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMai_ThucUong] FOREIGN KEY([MATHUCUONG])
REFERENCES [dbo].[THUCUONG] ([MATHUCUONG])
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [FK_KhuyenMai_ThucUong]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_Order_KhuyenMai] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KHUYENMAI] ([MAKM])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_Order_KhuyenMai]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_Order_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_Order_NhanVien]
GO
USE [master]
GO
